.parking-list {
    padding: 20px;

    md-card {
        margin: 20px;
        overflow-y: scroll;
        height: 500px;
    }

    md-card-actions {
        text-align: center;
    }

    &-header {
        font-size: 20px;
    }

    &-item {
        &-title {
            font-weight: bold; 
        }

        &-subtitle {
            color: #b1b1b1;
        }
    }

    &-spinner {
        display: block;
        margin: 0 auto;
        height: 30px;
        width: 30px;
    }

    &-list {
        border: 1px solid rgba(0,0,0,0.12);
        width: 350px;
        margin: 20px;
    }

    &-status {
        &--free {
            color: #008000;
        }

        &--full {
            color: #ff0000;
        }
    }
}



